*
!.gitignore
!freg-nox
!README
!COPYING
freg-nox/*
!freg-nox/*.cpp
!freg-nox/*.h
!freg-nox/*.ts
!freg-nox/*.pro
!freg-nox/*.vim

!freg-nox/blocks
freg-nox/blocks/*
!freg-nox/blocks/*.cpp
!freg-nox/blocks/*.h

!freg-nox/help_*
freg-nox/help_*/*
!freg-nox/help_*/*.txt

!freg-nox/texts
freg-nox/texts/*
!freg-nox/texts/*.txt
freg-nox/texts/errors.txt
freg-nox/texts/messages.txt
