# freg .gitignore file

# ignore everything
*
# except:
!.gitignore
!Freg.pro
!*.cpp
!*.h
!*.ts
!*.vim
!*.md
!*.qrc
!*.qm
!Doxyfile
qrc_*.cpp

!blocks
!screens
!everything
!help_*
!recipes
!rooms
!Tools

*/*
!*/*.cpp
!*/*.h

!help_*/*.md
!rooms/*.room
!recipes/*.json
!Tools/*.sh
Tools/codetest.sh

!debian
!debian/*
debian/*~
!debian/usr
debian/usr/*
!debian/usr/share
debian/usr/share/*
!debian/usr/share/doc
debian/usr/share/doc/*
!debian/usr/share/doc/freg
debian/usr/share/doc/freg/*
!debian/usr/share/doc/freg/copyright
!debian/source
debian/source/*
!debian/source/format
!debian/source/include-binaries
