*
!.gitignore
!Freg.pro
!*.cpp
!*.h
!*.ts
!*.vim
!*.md
!*.qrc
!*.qm
qrc_*.cpp

!blocks
blocks/*
!blocks/*.cpp
!blocks/*.h

!screens
screens/*
!screens/*.cpp
!screens/*.h

!help_*
help_*/*
!help_*/*.md

!recipes
recipes/*
!recipes/*json

!texts
texts/*
!texts/*.txt

!debian
!debian/*
debian/*~
!debian/usr
debian/usr/*
!debian/usr/share
debian/usr/share/*
!debian/usr/share/doc
debian/usr/share/doc/*
!debian/usr/share/doc/freg
debian/usr/share/doc/freg/*
!debian/usr/share/doc/freg/copyright
!debian/source
debian/source/*
!debian/source/format
